# System files
*.swp
*~

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Dependency files
*.d

# Executables
*.exe
*.out
*.app

# Build
Assets/Examples/
Build/
.Utils/

# python bytecode
*.pyc
*.pyo
__pycache__

# Workflow
TODOS

# Debugging
*.log
*.txt

# NVidia Debugger
*.csv

