# System files
*.swp
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static Libraries
*.lai
*.la
*.a

# Compiled Dynamic Libraries
*.so
*.dylib

# Dependency files
*.d

# Executables
*.exe
*.out
*.app

# Build
Assets/Examples/
Build/
Debug/
.Utils/

# python bytecode
*.pyc
*.pyo
__pycache__

# Workflow
TODOS

# Debugging
*.log
*.prof
*.txt

# NVidia Debugger
*.csv

# Visual Studio
*.db
*.opendb
*.cfg
Engine/x64
Engine/x86
x86/
x64/
.vs/
