# System files
*.swp
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static Libraries
*.lai
*.la
*.a

# Compiled Dynamic Libraries
*.so
*.dylib

# Dependency files
*.d

# Executables
*.exe
*.out
*.app

# Build
/Assets/Examples/
/Build/
/Debug/
/.Utils/

# python bytecode
*.pyc
*.pyo
__pycache__

# Workflow
TODOS

# Debugging
*.log
*.prof

# NVidia Debugger
*.csv

# Visual Studio
*.db
*.idb
*.pdb
*.opendb
*.cfg
*.user
/Engine/x64
/Engine/x86
/x86/
/x64/
/.vs/

# Don't want to ignore .objs files in Assets
!Assets/*.obj
